@page "/login"

@using Blazored.LocalStorage
@using BookRecommendation.Shared.Models
@using Microsoft.AspNetCore.Components.Authorization
@using BookRecommendation.Shared.Model;
@using Newtonsoft.Json;
@using System.Text
@using BookRecommendation.Client.Interfaces;

@inject HttpClient Http
@inject AuthenticationStateProvider AuthStateProvider
@inject ILocalStorageService LocalStorage
@inject IConfiguration Configuration
@inject IBlazorAuthenticationService authService;
@inject NavigationManager navigationManager;

<div class="mt-5 row">
    <div class="card col-12 col-lg-6 mr-auto ml-auto p-3">
        <h3 class="card-title">Zaloguj się:</h3>
        <div class="card-body">
            <EditForm Model="@user" OnValidSubmit="HandleLogin">
                <div class="input-group row mt-2">
                    <label class="col-12 col-md-4 p-0" for="userName">Email:</label>
                    <InputText id="userName" class="col-12 col-md-8 login-field" @bind-Value="user.Login"></InputText>
                </div>
                <div class="input-group row mt-2">
                    <label class="col-12 col-md-4 p-0" for="password">Password:</label>
                    <InputText type="password" id="password" class="col-12 col-md-8 login-field" @bind-Value="@user.Password"></InputText>
                </div>
                <div class="input-group row mt-2">
                    <div class="">
                        <button class="m-4 p-2">Zaloguj</button>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
</div>

<span class="label label-error">@Message</span>

@code {
    public AuthenticationRequest user = new();
    public string Message = string.Empty;

    async Task HandleLogin()
    {
        if (await authService.Authenticate(user.Login, user.Password))
        {
            navigationManager.NavigateTo("home");
        }

        Message = "Niepoprawny login lub hasło";
    }
}